.TaskTableContent {
  width: 88vw;
}

.ActionButtons {
  display: flex;
  flex-direction: row;
  margin: 12px 0;

  margin-left: 23vw;
}
.ActionButtonsContainer {
  display: flex;
  flex-direction: row;
}
